.bottom, .souscribe, .herbert, .stat, .pricing, .dance-tour {
  width: 100%;
  padding-left: calc(( 100% - 1200px) / 2);
  padding-right: calc(( 100% - 1200px) / 2);
}
@media all and (max-width: 770px) {
  .bottom, .souscribe, .herbert, .stat, .pricing, .dance-tour {
    padding-left: 10px;
    padding-right: 10px;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  text-decoration: none;
  list-style-type: none;
}

body {
  font-size: 16px;
  position: relative;
  font-family: montserrat;
}

body, html {
  height: 100%;
  scroll-behavior: smooth;
}

.header {
  width: 100%;
  padding-left: calc(( 100% - 1200px) / 2);
  padding-right: calc(( 100% - 1200px) / 2);
  background: url(../img/header.jpg) no-repeat;
  background-position: center top;
  background-attachment: fixed;
  padding-top: 5rem;
}
.header .navbar {
  background: #303030;
  padding-right: 80px;
  padding-left: 80px;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.header .navbar > label, .header .navbar input {
  display: none;
}
.header .navbar ul {
  font-size: 1.5625rem;
  display: flex;
}
.header .navbar ul li {
  margin-left: 3.4375rem;
}
.header .navbar ul li a {
  transition: color ease-in-out 0.3s;
}
.header .navbar ul li a:hover {
  color: #e8631c;
}
.header .navbar ul li:first-child {
  margin-left: 0;
}
.header .navbar .search {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
}
.header .navbar .search input {
  width: 0;
  height: 40%;
  border-width: 0;
}
.header .navbar .search:active input {
  position: absolute;
  width: 150px;
}
@media all and (max-width: 1000px) {
  .header .navbar {
    padding-right: 20px;
    padding-left: 20px;
  }
  .header .navbar .nav-list {
    display: none;
  }
  .header .navbar label {
    display: inline-block;
    order: 1;
    transition: transform ease-in-out 0.3s;
  }
  .header .navbar #check:checked ~ label {
    transform: rotate(90deg);
  }
  .header .navbar #check:checked ~ .nav-list {
    display: inline-block;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #303030;
    border-top: 2px solid #e8631c;
  }
  .header .navbar #check:checked ~ .nav-list li {
    padding-left: 20px;
    margin-top: 5px;
    margin-left: 0;
    margin-bottom: 5px;
  }
}
.header .head-container {
  font-size: 1.75rem;
}
.header .head-container .head-text-1 {
  margin-top: 4.375rem;
  font-family: oswald;
  font-size: 7.5rem;
}
.header .head-container .head-text-2 {
  max-width: 620px;
}
.header .head-container button {
  background: #e8631c;
  height: 4.0625rem;
  width: 20rem;
  margin-top: 2.8125rem;
  margin-bottom: 5rem;
  border: 2px solid #e8631c;
  border-radius: 4px;
  font-size: 1.75rem;
  font-family: oswald;
  transition: all ease-in-out 0.3s;
}
.header .head-container button:hover {
  color: #e8631c;
  background: #303030;
}
@media all and (max-width: 1200px) {
  .header {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media all and (max-width: 600px) {
  .header .head-container .head-text-1 {
    font-size: 5rem;
  }
  .header .head-container .head-text-2 {
    font-size: 1.25rem;
  }
  .header .head-container button {
    height: 2.6875rem;
    width: 13.3125rem;
  }
}

/*scroll*/
.scroll {
  position: fixed;
  bottom: 35px;
  right: 35px;
  z-index: 50;
  border: 2px solid #fff;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.scroll .point {
  height: 0;
  width: 0;
  border-bottom: 25px solid white;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
}

.bottom, .souscribe, .herbert, .stat, .pricing, .dance-tour {
  width: 100%;
  padding-left: calc(( 100% - 1200px) / 2);
  padding-right: calc(( 100% - 1200px) / 2);
}
@media all and (max-width: 770px) {
  .bottom, .souscribe, .herbert, .stat, .pricing, .dance-tour {
    padding-left: 10px;
    padding-right: 10px;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  text-decoration: none;
  list-style-type: none;
}

body {
  font-size: 16px;
  position: relative;
  font-family: montserrat;
}

body, html {
  height: 100%;
  scroll-behavior: smooth;
}

.best-dance button, .amazin button, .pricing .dance-card .aside-card button {
  background: #303030;
  width: 90%;
  height: 4.0625rem;
  border: 2px solid #303030;
  border-radius: 4px;
  font-size: 1.5625rem;
  font-family: oswald;
  margin: 2.1875rem 5% 0 5%;
  transition: all ease-in-out 0.3s;
}
.best-dance button:hover, .amazin button:hover, .pricing .dance-card .aside-card button:hover {
  border: 2px solid #fff;
  background: #e8631c;
}

/*section for title "dance tour" */
.dance-tour {
  padding-top: 4.375rem;
  background: #e8631c;
  padding-bottom: 3.125rem;
}
.dance-tour p {
  text-align: center;
}
.dance-tour .dance-text-1 {
  font-size: 4.6875rem;
  font-family: oswald;
  font-weight: bold;
  margin-bottom: 1.25rem;
}
.dance-tour .dance-text-2 {
  font-size: 1.75rem;
  max-width: 51.875rem;
  margin: 0 auto;
  margin-bottom: 4.375rem;
}
.dance-tour .dance-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.dance-tour .dance-card {
  width: 23.25rem;
  height: 31.875rem;
  position: relative;
  background: #303030;
  overflow: hidden;
  margin-bottom: 20px;
  /*le hover pour les cards*/
  /*le hover pour les cards*/
}
.dance-tour .dance-card img {
  transition: all ease-in-out 0.3s;
}
.dance-tour .dance-card:hover .aside-card {
  transform: translateY(-6.25rem);
}
.dance-tour .dance-card:hover img {
  transform: scale(1.2);
  opacity: 0.6;
}
.dance-tour .dance-card:hover .card-text-1 {
  color: #e8631c;
}
.dance-tour .dance-card:hover .card-text-3 {
  opacity: 1;
}
.dance-tour .dance-card .aside-card {
  background: #303030;
  transition: transform ease-in-out 0.3s;
}
.dance-tour .dance-card .card-text-1 {
  font-size: 2.25rem;
  margin-bottom: 0.9375rem;
  margin-top: 1.875rem;
  font-family: oswald;
  transition: color ease-in-out 0.3s;
}
.dance-tour .dance-card .card-text-2 {
  font-size: 1.375rem;
}
.dance-tour .dance-card .card-text-3 {
  opacity: 0;
  font-size: 1.375rem;
  transition: transform ease-in-out 0.3s;
}
@media all and (max-width: 770px) {
  .dance-tour {
    width: 100%;
  }
  .dance-tour .dance-text-1 {
    font-size: 3.125rem;
  }
}

/*******************************/
/*******************************/
/*section for title "pricing" */
.pricing {
  padding-top: 5.625rem;
  padding-bottom: 5.625rem;
  background: #303030 url(../img/disign/shape4.png);
  background-position: bottom right;
  background-repeat: no-repeat;
}
.pricing p {
  text-align: center;
}
.pricing .dance-text-1 {
  font-size: 4.6875rem;
  margin-bottom: 2.5rem;
  font-family: oswald;
  font-weight: bold;
}
.pricing .dance-text-2 {
  font-size: 1.75rem;
  max-width: 51.875rem;
  margin: 0 auto;
  margin-bottom: 5rem;
}
.pricing .dance-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.pricing .dance-card {
  width: 23.25rem;
  height: 31.875rem;
  background: #e8631c;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  padding-top: 3.75rem;
  border-radius: 8px;
}
.pricing .dance-card .aside-card {
  background: #e8631c;
}
.pricing .dance-card .card-text-1 {
  font-size: 2.25rem;
  margin-bottom: 2.5rem;
  margin-top: 1.875rem;
  font-family: oswald;
}
.pricing .dance-card .card-text-2 {
  font-size: 1.375rem;
}
@media all and (max-width: 770px) {
  .pricing {
    width: 100%;
  }
  .pricing .dance-text-1 {
    font-size: 3.125rem;
  }
}

/*******************************/
/*******************************/
/*section for title "amazin dance" */
.amazin {
  width: 100%;
  padding-left: calc(( 100% - 1440px) / 2);
  padding-right: calc(( 100% - 1440px) / 2);
  display: flex;
  background: #e8631c url(../img/disign/shape4.png);
  background-position: bottom right;
  background-repeat: no-repeat;
}
.amazin img {
  width: 50%;
}
.amazin .aside-amazin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  padding-left: 5rem;
  padding-right: 2.5rem;
}
.amazin .amazin-text-1 {
  font-size: 4.6875rem;
  font-family: oswald;
  font-weight: bold;
  margin-bottom: 3.75rem;
}
.amazin .amazin-text-2 {
  font-size: 1.375rem;
  margin-bottom: 4.375rem;
}
.amazin button {
  width: 20rem;
  margin-bottom: 20px;
}
@media all and (max-width: 1050px) {
  .amazin {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .amazin img {
    display: none;
  }
  .amazin p {
    text-align: center;
  }
  .amazin .amazin-text-1 {
    font-size: 3.125rem;
    margin-top: 40px;
  }
  .amazin .aside-amazin {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  .amazin .aside-amazin button {
    margin-left: auto;
    margin-right: auto;
  }
}
@media all and (max-width: 300px) {
  .amazin button {
    width: 90%;
  }
}

/*******************************/
/*******************************/
/*section for title "best dance" */
.best-dance {
  width: 100%;
  padding-left: calc(( 100% - 1440px) / 2);
  padding-right: calc(( 100% - 1440px) / 2);
  display: flex;
  flex-direction: row-reverse;
  background: #e8631c url(../img/disign/shape3.png);
  background-position: bottom left;
  background-repeat: no-repeat;
}
.best-dance img {
  width: 50%;
}
.best-dance .aside-amazin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  padding-left: 5rem;
  padding-right: 2.5rem;
}
.best-dance .amazin-text-1 {
  font-size: 4.6875rem;
  font-family: oswald;
  font-weight: bold;
  margin-bottom: 3.75rem;
}
.best-dance .amazin-text-2 {
  font-size: 1.375rem;
  margin-bottom: 4.375rem;
}
.best-dance button {
  width: 20rem;
  margin-bottom: 20px;
}
@media all and (max-width: 1050px) {
  .best-dance {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .best-dance img {
    display: none;
  }
  .best-dance p {
    text-align: center;
  }
  .best-dance .amazin-text-1 {
    font-size: 3.125rem;
    margin-top: 40px;
  }
  .best-dance .aside-amazin {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  .best-dance .aside-amazin button {
    margin-left: auto;
    margin-right: auto;
  }
}
@media all and (max-width: 300px) {
  .best-dance button {
    width: 90%;
  }
}

/*******************************/
/*******************************/
/*section for title "statistics" */
.stat {
  padding-top: 5.9375rem;
  padding-bottom: 3.75rem;
  background: #303030;
}
.stat > p {
  text-align: center;
}
.stat .stat-text-1 {
  font-size: 4.6875rem;
  margin-bottom: 3.125rem;
  font-family: oswald;
  font-weight: bold;
}
.stat .stat-text-2 {
  font-size: 1.75rem;
  max-width: 51.875rem;
  margin: 0 auto;
  margin-bottom: 5rem;
}
.stat .bottom-stat {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}
.stat .bottom-stat p {
  font-size: 4.0625rem;
  font-family: oswald;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.stat .bottom-stat p span {
  font-size: 1.875rem;
  font-family: montserrat;
}
@media all and (max-width: 560px) {
  .stat .stat-text-1 {
    font-size: 3.125rem;
  }
}

/*******************************/
/*******************************/
/*section for title "herbert simon" */
.herbert {
  background: url(../img/dance-4.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 18.75rem;
  padding-bottom: 18.75rem;
}
.herbert .herbert-text-1 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 4.0625rem;
}
.herbert .herbert-text-2 {
  font-size: 3.625rem;
  font-family: oswald;
  font-weight: bold;
  text-align: center;
}

/*******************************/
/*******************************/
/*section for title "subscribe" */
.souscribe {
  padding-top: 8.125rem;
  padding-bottom: 8.125rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #e8631c url(../img/disign/shape.png);
  background-repeat: no-repeat;
  background-position: center;
}
.souscribe .souscribe-text-1 {
  font-size: 3.625rem;
  font-family: oswald;
  font-weight: bold;
  text-align: center;
  margin-bottom: 3.125rem;
}
.souscribe .souscribe-text-2 {
  font-size: 1.75rem;
  text-align: center;
  max-width: 80%;
  margin-bottom: 3.125rem;
}
.souscribe .email {
  width: 60%;
  display: flex;
}
.souscribe .email input {
  padding-left: 1.5625rem;
  border-width: 0;
  color: black;
  background: #fff;
  width: 75%;
  font-size: 1.5625rem;
  height: 4.0625rem;
}
.souscribe .email button {
  width: 25%;
  height: 4.0625rem;
  border-width: 0;
  background: #303030;
  font-size: 1.5625rem;
  transition: all ease-in-out 0.3s;
}
.souscribe .email button:hover {
  border: 2px solid #ffffff;
  background: #e8631c;
}
@media all and (max-width: 985px) {
  .souscribe {
    padding-top: 3.125rem;
    padding-top: 3.125rem;
  }
  .souscribe .souscribe-text-1 {
    font-size: 3.125rem;
  }
  .souscribe .email {
    width: 90%;
  }
  .souscribe .email button {
    font-size: 0.625rem;
  }
}

/*******************************/
/*******************************/
/*section for bottom */
.bottom {
  background: #303030;
  display: flex;
  padding-top: 6.875rem;
  padding-bottom: 5rem;
}
.bottom > div:first-child {
  width: 50%;
  padding-left: 2.5rem;
}
.bottom > div:first-child .reseaux {
  margin-top: 1.875rem;
}
.bottom > div:first-child .reseaux img {
  margin-right: 0.9375rem;
  transition: transform ease-in-out 0.3s;
}
.bottom > div:first-child .reseaux img:hover {
  transform: scale(1.08);
}
.bottom div > p:first-child {
  font-size: 2rem;
  font-family: oswald;
  margin-bottom: 1.875rem;
}
.bottom div > p:nth-child(2) {
  font-size: 1.25rem;
  padding-right: 1.25rem;
}
@media all and (max-width: 660px) {
  .bottom {
    flex-direction: column;
    align-items: center;
    padding-top: 3.125rem;
  }
  .bottom .reseaux {
    display: flex;
    justify-content: space-around;
  }
  .bottom > div:first-child {
    width: 100%;
  }
  .bottom div > p:first-child {
    text-align: center;
  }
  .bottom div {
    width: 100%;
  }
}
